<% Product.all.each do |product| %>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
        <div class="caption">
            <h3><%= product.name %></h3>
            <p>
             <%= link_to "进入版本", tags_path(product_id: product.id), class: 'btn btn-default' %>
            </p>
        </div>
        </div>
    </div>
</div>
<% end %>