<div class="row">
  <div class="col-lg-3 mb-10">
    <%= render 'head'  %>
  </div>
  <div class="col-lg-9">
    <div class="page-header">
      <h3><%=t '.title', :default => "附件结构" %></h3>
    </div>

    <div id="tree" class="treeview">
    </div>
  </div><!--/span-->
</div><!--/row-->

<script>
  function getTree() {
    // Some logic to retrieve, or generate tree structure
    var tree = <%= @tree %>
    return tree;
  }

  $('#tree').treeview({data: getTree()});
</script>