<div class="row">
  <div class="col-lg-3 mb-10">
    <%= render 'head'  %>
  </div>
  <div class="col-lg-9">
    <div class="page-header">
      <h3>新增文件</h3>
    </div>

    <%= render :partial => 'form' %>
  </div><!--/span-->
</div><!--/row-->